@import "base";
@import "controls";

.intro {
  position: relative;
  width: 100%;
  padding: 97px 0 64px 0;
  display: grid;
  grid-template-rows: 1fr 330px;
  gap: 64px;
  place-items: center;

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    display: grid;
    grid-template-rows: 330px 1fr;
    place-items: center;
    color: map-get($colors, "white");
  }

  &__bg-blur {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80%;
    background-image: url("../assets/img/intro/bg-blur.svg"), $linear-gradient;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    border-radius: 6%;
    z-index: 0;
  }

  &__bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/intro/globe.svg"), url("../assets/img/intro/microscope.svg");
    background-position: top right, 0 45%;
    background-repeat: no-repeat, no-repeat;
    background-color: transparent;
    background-size: auto;
    opacity: 0.3;
    z-index: 1;
  }

  &__img {
    width: 100%;
    height: 100%;
    background: url("../assets/img/intro/source.svg") no-repeat center;
    background-size: 132% 100%;
    z-index: 9;
  }

  &__header {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    z-index: 1;

    &-title {
      font-size: 3.12rem;
      font-weight: 900;
    }

    &-subtitle,
    &-desc {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}

@include media("min", "m") {
  .intro {
    grid-template-rows: 1fr 1fr;

    &__container {
      gap: 32px;
    }

    &__img {
      background-size: contain;
    }

    &__header {
      gap: 32px;

      &-title {
        font-size: 4.12rem;
        font-weight: 900;
      }

      &-subtitle,
      &-desc {
        font-size: 2.4rem;
        font-weight: 400;
      }
    }
  }
}

@include media("min", "l") {
  .intro {
    padding: 136px 181px 94px 181px;
    grid-template-rows:  1fr 1.66fr;
    gap: 94px;

    &__bg-img {
      background-image: url("../assets/img/intro/globe.svg"), url("../assets/img/intro/microscope.svg"), url("../assets/img/intro/dna.svg"), url("../assets/img/intro/note.svg"), url("../assets/img/intro/pencil.svg"), url("../assets/img/intro/ruler.svg") ;
      background-position: top right, 0 45%, 17% 10%, 80% 30%, 95% 53%, 15% 62%;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
      background-color: transparent;
      background-size: auto;
      opacity: 0.3;
    }

    &__bg-blur {
      height: 75%;
    }

    &__header {
      &-desc {
        padding-top: 40px;
      }
    }
  }
}